[submodule "premake5-modules/premake-wkslight"]
	path = premake5-modules/premake-wkslight
	url = https://github.com/ignite720/premake-wkslight.git
[submodule "premake5-modules/premake-vspropertysheets"]
	path = premake5-modules/premake-vspropertysheets
	url = https://github.com/ignite720/premake-vspropertysheets.git
